@page
@model CVUpload.Pages.BufferedSingleFileUploadPhysicalModel
@{
    ViewData["Title"] = "CV Upload";
}
<div class="row py-5">
    <div class="col">

        <form enctype="multipart/form-data" method="post">
            <dl>
                <dt>
                    <label asp-for="FileUpload.FormFile"></label>
                </dt>
                <dd>
                    <input asp-for="FileUpload.FormFile" type="file">
                    <span asp-validation-for="FileUpload.FormFile"></span>
                </dd>
            </dl>
            <input asp-page-handler="Upload" class="btn" type="submit" value="Upload" />
        </form>

        <p class="result">
            @Model.Result
            @Html.ValidationSummary(false)
        </p>
    </div>
    <div class="col-3 ps-0">
        <div class="row">
            <div class="col"><img src="/images/NCDV-Final-1024x673.png" class="img-fluid mx-auto d-block"></div>
        </div>
        <div class="row mt-5">
            <div class="col"><img src="/images/nls-1024x188.jpg" class="img-fluid mx-auto d-block"></div>
        </div>
        <div class="row mt-5">
            <div class="col"><img src="/images/movus-logo-black-1024x312.png" class="img-fluid mx-auto d-block"></div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}